*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background: rgb(140, 182, 250);
    font-family: monospace;
    color:rgb(250,255,140);
}

.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 70%;
    height: 100%;
    margin: 0 0 0 13vw;
    background-color: brown;
    align-items: center;
}

.grid{
    
}