*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background: rgb(140, 182, 250);
    font-family: monospace;
    color:rgb(250,255,140);
}

.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 70%;
    height: 100%;
    margin: 0 0 0 13vw;
    background-color: brown;
    align-items: center;
}

.grid{
    width: 100vw;
    height:100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
}

.item.x::before,
.item.x::after,
.item.o::before,
.item.o::after{
    background: rgb(250,255,140);
}

.grid.x .item:not(.x):not(.o):hover::before,
.grid.x .item:not(.x):not(.o):hover::after{
background: rgba(250,255,140,.5);
}
.grid.o .item:not(.x):not(.o):hover::before,
.grid.o .item:not(.x):not(.o):hover::after{
background: rgba(250,255,140,.5);
}

.item{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(250,255,140);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item.x,
.item.o{
    cursor: not-allowed;
}

.item.x::before,
.item.x::after,
.grid.x .item:not(.x):not(.o):hover::before,
.grid.x .item:not(.x):not(.o):hover::after{
content:'';
position:absolute;
width:calc(100px*.15);
height:100px;

}

.item.x::before,
.grid.x .item:not(.x):not(.o):hover::before{
    transform: rotate(45deg);
}
.item.x::after,
.grid.x .item:not(.x):not(.o):hover::after{
    transform: rotate(-45deg);
}

.item.o::before,
.item.o::after,
.grid.o .item:not(.x):not(.o):hover::before,
.grid.o .item:not(.x):not(.o):hover::after{
content:'';
position:absolute;
border-radius: 50%;
}

.item.o::before,
.grid.o .item:not(.x):not(.o):hover::before{
    width:calc(100px*.9);
    height:calc(100px*.9);
    
}

.item.o::after,
.grid.o .item:not(.x):not(.o):hover::after{
    width:calc(100px*.7);
    height:calc(100px*.7);
    background: brown;
}

.grid :first-child,:nth-child(2),:nth-child(3){
border-top: none;
}

.grid :first-child,:nth-child(4),:nth-child(7){
    border-left: none;
}

.grid :last-child,:nth-child(8),:nth-child(7){
border-bottom: none;
}

.grid :last-child,:nth-child(3),:nth-child(6){
    border-right: none;
}

.winner{
display: none;
position: fixed;
top: 0;
left: 0;
bottom:0;
right: 0;
background:rgba(165,42,42,.7);
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 5rem;
}

.winner.show{
    display: flex;
}

#restart_btn{
    font-size: 3rem;
    background-color: aliceblue;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}
#restart_btn:hover{
    background-color: black;
    border-color: white;
    color:white;
}