*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background: rgb(140, 182, 250);
    font-family: monospace;
    color:rgb(250,255,140);
}

.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 70%;
    height: 100%;
    margin: 0 0 0 13vw;
    background-color: brown;
    align-items: center;
}

.grid{
    width: 100vw;
    height:100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
}

.item{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(250,255,140);
}

.grid :first-child,:nth-child(2),:nth-child(3){
border-top: none;
}

.grid :first-child,:nth-child(4),:nth-child(7){
    border-left: none;
}

.grid :last-child,:nth-child(8),:nth-child(7){
border-bottom: none;
}

.grid :last-child,:nth-child(3),:nth-child(6){
    border-right: none;
}

.winner{
    
}